.user-type--wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 32px;
    background: var(--bright-background);
    margin: auto;
    margin-top: 10%;
    padding: 24px;
    width: fit-content;
    justify-content: center;
    align-items: center;

}

.headline--user-type {
    margin-bottom: 24px;
}

.user-type--wrap a {
    width: 100%;
}

.user-type--wrap a .button--primary {
    width: 100%;
}

.user-type--wrap a .button--secondary {
    width: 100%;
}

.user-type--wrap a .button--tretiary {
    width: 100%;
}

.user-type--button {
    width: 100%;
}