.profile-info--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 80px;
}

.profile-info--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0px;
    gap: 12px;
}

.profile-info--right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.profile-info--left--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}