:root {
    --black: rgb(255, 255, 255);
    --dark-background: #bebee2;
    --dark-button: #303035;
    --dark-button-hov: #3E3E42;
    --dark-button-act: #2A2A2F;
    --dark-p: #BDBDBF;
    --white: rgb(24, 24, 24);
    --white-hov: #101111;
    --white-act: #0a0a0a;
    --bright-background: #101111;
    --bright-p: #3b494e;
    --text-color-black: rgb(255, 255, 255);
    --text-color-white: rgb(255, 255, 255);
    --ton-blue: #0088CC;
    --ton-blue-hov: #0197E2;
    --ton-blue-act: #076C9F;
    --warning: #E36262;
    --warning-hov: #E36262;
    --warning-act: #E36262;
    --attention: #E49043;
    --attention-hov: #E49043;
    --attention-act: #E49043;
    --accepted: #15AE52;
    --accepted-hov: #15AE52;
    --accepted-act: #15AE52;
    --default-transition: .1s linear;
    --no-transition: 0s;
    --tab-shadow: inset 0 -2px 0;
    --max-width: 1160px;
    --max-width-plus: 1176px;
  
  }