.profile-widgets--wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin: auto;
    max-width: var(--max-width);
    margin-top: 95px;
}

.profile-widgets--cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 12px 0px 0px;
    gap: 12px;
    width: 100%;
}